#main-container{
    width: 490px;
    /* border: 2px solid red; */
    margin: 0 auto;
    background-color: beige;
    padding: 20px 40px;
    margin-top: 0.5rem;
}
#main-container > .header{
    text-align: center;
}
.center{
    width: 500px;
    text-align: center;
    margin: 0 auto;
    
}
#main-container label{
    display: block;
    margin: 25px 0px 0px 65px;
    /* margin: 5px auto; */
}
#main-container input{
    display: block;
    margin: 5px auto;
    padding: 12px;
    width: 350px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
#main-container .b-1{
    display: block;
    background-color: black;
    color: white;
    width: 370px;
    margin: 30px auto;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
}
#main-container .b-2{
    display: block;
    background-color: white;
    width: 370px;
    margin: 30px auto;
    /* padding: 12px; */
    border-radius: 10px;
    font-weight: bold;
}
.b-2 img{
    width: 50px;
    height: auto;
    vertical-align: middle;
}
.new{
    background-color: white;
}

.divider{
    border-bottom: 1px solid black;
    width: 370px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 2px;
}
.or{
    background-color: beige;
    padding: 0 8px;
}
a{
    color: black;
    text-decoration:underline;
    text-underline-offset: 4px;
}